body{
  background-color: rgb(1, 5, 24);
  color: rgb(49, 118, 152);
  margin: 0px;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% of the viewport height */
  margin-left: 0px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label{
  font-size: 18px;
  margin-bottom: 3px; 
  margin-right: 320px;
}

.timer{
  margin-top: 1px;
  height: 25px;
  font-size: 45px;
  font-weight: bold;
  
}
.buttons{
  margin-top: 40px;
  display: flex;
  font-size: 45px;
  font-weight: bold;
  gap: 14px;
}
input{
  width: 400px;
  background-color: rgb(1, 5, 24);
  border-color: rgb(49, 118, 152);
  color: white;
  border-width: 1px;
  height:50px;
  font-size: 16px;
}

.round {
  border-radius: 8px;
  padding: 5px 5px 5px 25px;
  top: 0;
  left: 0;
  z-index: 5;
}
